<br>
<br>
<br>
<br>
<div class="container main-container">
    
    <div class="row tex-center">
       
        <div class="col-md-10">
            <p>Veja o resultado final da Copa de forma simples e rápida</p>
        </div>
        
        <div class="=col-md-1">
            <a 
              
              class="btn btn-primary"
              routerLink="../home"              
              >Nova Copa</a>
        </div>         

    </div>
    <div class="row card h-100 tex-align:center">
        <h1 class="card-title"> 1º {{copa?.nomeCampeao}}</h1>
    </div>
    <div class="row card h-100 tex-center">
        <h1 class="card-title"> 2º {{copa?.nomeViceCampeao}}</h1>
    </div>
        
</div>
